@using FlashCards.Client.Components
@inject HttpClient _httpClient
@inject NavigationManager _navManager
@inject DialogService _dialogService
@page "/Decks/{Id}"

@if (_loading)
{
    <div class="loaderFlex">
        <Loader />
    </div>
}
else
{
    <div class="cardsRootContainer">
        <div class="cardsHeader">
            <div class="deckHeaderTitle">
                <h2>
                    @_deck.SetName&nbsp;<span>@($"({_deck.CardCount} cards)")</span>
                </h2>
            </div>
            <div class="deckHeaderButtons">
                <button class="positive" @onclick="NewCardClicked" disabled="@(_loading || !string.IsNullOrWhiteSpace(_errorMessage))">Add Card</button>
                <button class="positive" @onclick="OnPlayClicked" disabled="@(_loading || !string.IsNullOrWhiteSpace(_errorMessage))">Play</button>
                <button class="positive" @onclick="() => {}" disabled="@(_loading || !string.IsNullOrWhiteSpace(_errorMessage))">History</button>
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(_errorMessage))
        {
            <div class="marginAuto error">
                @_errorMessage
            </div>
        }
        else
        {
            <div class="cardsContainer">
                @foreach (var card in _cards.Cards)
                {
                    <div class="cardListing" @onclick="() => CardClicked(card.Id)">
                        @if (card.Loading)
                        {
                            <div class="cardLoading">
                                <Loader />
                            </div>
                        }
                        else
                        {
                            @if (!card.DeleteConfirm)
                            {
                                <div class="cardDeleteIcon" @onclick="() => DeleteClicked(card.Id)" @onclick:stopPropagation="true">
                                    <span class="symbol">delete</span>
                                </div>
                            }
                            else
                            {
                                <div class="cardDeleteIcon" @onclick="() => ConfirmDeleteClicked(card.Id)" @onclick:stopPropagation="true">
                                    <span class="symbol">delete_forever</span>
                                </div>
                            }
                            <div class="cardEditIcon" @onclick="() => EditClicked(card.Id)" @onclick:stopPropagation="true">
                                <span class="symbol">edit_note</span>
                            </div>
                            <div class="@($"cardValues {(card.Flipped ? "cardFlipped" : "")}")">
                                <div class="cardValueContainer">
                                    <div class="@($"cardValue cardFront {(card.Flipped ? "" : "sideDisplay")}")">
                                        @card.FrontValue
                                    </div>
                                </div>
                                <div class="cardValueContainer">
                                    <div class="@($"cardValue cardBack {(card.Flipped ? "sideDisplay" : "")}")">
                                        @card.BackValue
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
}